/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

:root {
  --purple: #b76aea;
  --dark-purple: #9924f8;
}

html, body {
  width: 100%;
  height: 100%;
}

*,:before,:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}

body {
  background-image: url('/assets/images/img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;

  color: white;
}

input, select, textarea {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  padding: 6px 10px;
  margin-block-start: 4px;
}

input::placeholder, textarea::placeholder {
  opacity: 0.3;
}

select {
  -webkit-appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC);
  background-size: 12px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 12px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  width: 100%;
  display: block;
  user-select: none;
}

button {
  grid-area: button;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
  margin-block-start: 8px;

  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
  border-color: var(--purple);
}

button.primary {
  background-color: var(--dark-purple);
  border: 1px solid var(--purple);
  padding: 10px;
}