<h1>Peça aqui o seu top fã!</h1>
<img src="../../assets/images/img.jpg" alt="Logo do Mau Acompanhado" width="320" height="320">
<form class="form-container">
    <div class="form">
        <label for="nome">Nome: <input type="text" id="nome" name="nome" placeholder="Seu nome" (keydown)="limpaFeedback()" [(ngModel)]="formulario.nome"></label>
        <label for="top-fa">Top fã de: 
            <select id="top-fa" name="top-fa" (change)="limpaFeedback()" [(ngModel)]="formulario.topfa">
                <option value="" selected>Selecione...</option>
                <option *ngFor="let opcao of opcoes">{{opcao}}</option>
            </select>
        </label>
        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" placeholder="Sua mensagem" maxlength="140" (keydown)="limpaFeedback()" [(ngModel)]="formulario.mensagem"></textarea>
    </div>
    <div>
        <button type="button" (click)="incluiTopFa()">Enviar</button>
    </div> 
</form>

<p *ngIf="formInvalid">Por favor, preencha todos os campos.</p>
<p *ngIf="feedback">{{feedback}}</p>
