<div class="container">
  <div class="overlay"></div>
  <h1 class="titulo">Peça aqui o seu top fã!</h1>
  <form class="form-container">
    <label for="nome" class="lbl-nome"
      >Nome
      <input
        type="text"
        id="nome"
        name="nome"
        placeholder="João Clode VanDaime"
        (keydown)="limpaFeedback()"
        [(ngModel)]="formulario.nome"
    /></label>
    <label for="top-fa" class="lbl-top-fa"
      >Top fã de
      <select
        id="top-fa"
        name="top-fa"
        (change)="limpaFeedback()"
        [(ngModel)]="formulario.topfa"
      >
        <option *ngFor="let opcao of opcoes">{{ opcao }}</option>
      </select>
    </label>
    <label for="mensagem" class="lbl-mensagem"
      >Mensagem
      <textarea
        id="mensagem"
        name="mensagem"
        placeholder="Sua mensagem"
        maxlength="140"
        rows="8"
        (keydown)="limpaFeedback()"
        [(ngModel)]="formulario.mensagem"
      ></textarea>
    </label>

    <button class="button" type="button" (click)="incluiTopFa()">Enviar</button>
    <p class="feedback" *ngIf="formInvalid">
      Por favor, preencha todos os campos.
    </p>
    <p class="feedback" *ngIf="feedback">{{ feedback }}</p>
  </form>
</div>
