textarea {
  font-family: sans-serif;
}

.form-container {
  display: flex;
  gap: 6px;
}

.form-container button {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
