.container {
  width: 100%;
  height: 100%;

  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
}

a {
  color: currentColor;

  border-bottom-width: 1px;
  border-color: currentColor;
  border-style: dashed;

  text-decoration: none;
}

a:hover {
  border-bottom-style: solid;
}